<section class="sidebar">
    <section class="user">
      <div class="user-avatar"></div>
      <div class="user-info">
        <div class="user-name">Centimitr</div>
        <div class="user-description">last 16 days</div>
      </div>
      <div class="user-more"><div class="rotate90">></div></div>
    </section>
    <section class="search">
      <input class="search-input" type="text" placeholder="Search...">
    </section>
    <section class="list">
      <h5>IDEA</h5>
      <ul>
        <li>Add New Idea</li>
        <li>Review</li>
        <li>Archive</li>
        <li>Important</li>
      </ul>
    </section>
    <section class="list">
      <h5>MATTER</h5>
      <ul>
        <li>Today Matter</li>
        <li>Review</li>
        <li>Archive</li>
      </ul>
    </section>
    <section class="list">
      <h5>DREAM</h5>
      <ul>
        <li>Record Dream</li>
        <li>Archive</li>
      </ul>
    </section>
  </section>
